.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 0.8px 1.6px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: palevioletred;

    .image{
        fill: none;
        stroke: #fff;
        stroke-dasharray: 40px 760px;
        stroke-width: 2px;
        stroke-linecap: round;
        animation: line 3.5s linear infinite;
        // stroke-dasharray: 800px;
    
        @keyframes line {
            // 0% {
            //     opacity: 1;
            //     stroke-dashoffset: 800px;
            // }
    
            100% {
                stroke-dashoffset: -800px;
            }
        }
    }

    .heart {
        position: absolute;
        top: 228px;
        left: 122px;
        width: 40px;
        height: 70px;
        background-color: lightpink;
        border-radius: 20px 20px 0 0;
        transform: rotate(-45deg);
        opacity: 0;
        animation: heart 3.5s ease;
        animation-iteration-count: infinite;
        animation-delay: 1.1s;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: lightpink;
            border-radius: 20px 20px 0 0;
            transform: scale(1) translate(38%, 22%) rotate(90deg);
        }  

        @keyframes heart {
            0% {
                opacity: 1;
                transform: scale(0.1) rotate(-45deg);
            }

            20% {
                opacity: 0;
                transform: scale(0.8) rotate(-45deg);
            }
        }
    }

    .smile {
        position: absolute;
        top: 151px;
        right: 70px;
        width: 70px;
        height: 70px;
        background-color: rgb(253, 253, 167);
        border-radius: 50%;
        opacity: 0;
        animation: smile 3.5s ease;
        animation-iteration-count: infinite;
        animation-delay: 2.2s;

        &::before {
            content: "";
            position: absolute;
            bottom: 12px;
            left: 10px;
            width: 50px;
            height: 50px;
            background-color: gray;
            border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 27px;
            left: 7px;
            width: 56px;
            height: 36px;
            background-color: rgb(253, 253, 167);
            border-radius: 50% 50% 0 0;
        }

        .left-eye,
        .right-eye {
            position: absolute;
            top: 18px;
            width: 10px;
            height: 15px;
            background-color: gray;
            border-radius: 50%;
            z-index: 1;
        }

        .left-eye {
            left: 15px;
        }

        .right-eye {
            right: 15px;
        }

        @keyframes smile {
            0% {
                opacity: 1;
                transform: scale(0.1);
            }

            17% {
                opacity: 0;
                transform: scale(0.8);
            }
        }
    }
}